{% extends 'base.html' %}


{% block content %} 


		{% for cat_item in catalog %}
		<div>
			<h3>{{ cat_item.title }}</h3></li>
			<div>{{ cat_item.description}}</div>
		</div>
		{% endfor %}
		

{% endblock %} 