{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{% if page_header %}{{ page_header}} | {% endif %}Django sandbox project</title>
	
	<script type="https://cdn.jsdelivr.net/g/jquery@3.1.0,bootstrap@3.3.7"></script>

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap/3.3.7/css/bootstrap.min.css">

	<link rel="stylesheet" href="{% static 'css/style.css' %}">

	<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

	<img src="{% static 'images/icon-touch.e4872c4da341.png' %}" alt="">

	<div class="container">

		{% if page_header %}
		<div class="page-header">
			<h1>{{ page_header }}</h1>
		</div>
		{% endif %}

		{% block content %} {%  endblock %}
	</div>
	
	

</body>
</html>