{% extends 'base.html' %}


{% block content %}

	<div>
		<a class="btn btn-primary" href="{% url 'catalog:home' %}">&larr; Назад в категорию</a><br><br>
	</div>

	<div>
	 	{{ catalog_item.description }}
	</div>

{% endblock %}